# This is just an example rule. It calls usmartmount for all filesystems on a USB drive, except for "090210000000000000000001165" (That's my Live USB). You may write your own rules.

SUBSYSTEM=="block" SUBSYSTEMS=="usb" ENV{ID_FS_USAGE}=="filesystem" ENV{ID_SERIAL_SHORT}!="090210000000000000000001165" RUN+="/etc/udev/scripts/usmartmount"
